Let's brainstorm some ideas here.

World bank datasets:

https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country=

In [34]:
import pandas as pd

wbFilePath = '../WorldBankData/Data_Extract_From_World_Development_Indicators/f44b1823-efd6-454c-a794-e1b62c508d58_Data.csv'
wbData = pd.read_csv(wbFilePath)
wbData.head()

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,..,..,4055176933.36905,4515563413.82564,5226775163.30205,6209140044.00519,...,12439087076.7667,15856574731.4411,17804280538.1102,20001615788.6719,20561054090.3995,20484873230.2111,19907111418.9938,19362642266.6484,20191764940.1602,19362969582.3643
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,3480355188.60063,3922099470.97313,4348070165.19261,5611492282.86582,7184681398.5698,8052075642.10781,...,12044208085.864,11926953213.6961,12890866742.6533,12319784886.2038,12776280961.155,13228247844.1247,11386931489.7968,11861352704.87,13025062195.7906,15058879128.6536
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,54790245600.5846,54744714396.1666,56760288973.6703,67863829880.4832,85324998813.604,103198228458.588,...,137211039898.193,161207268655.392,200019057307.655,209058991952.125,209755003250.664,213810022462.428,165979277276.907,160129866569.935,167555280113.181,180689115940.685
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,..,..,514000000,527000000,512000000,503000000,...,678000000,576000000,574000000,644000000,641000000,643000000,661000000,653000000,634000000,..
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,1434429703.33518,1496912751.67785,1733116883.11688,2398645598.19413,2935659299.72684,3255789080.96008,...,3660530702.97305,3355695364.23841,3442062830.13622,3164615186.94591,3281585236.32501,3350736367.25488,2811489408.89431,2877311946.90265,3013387423.93509,3236543909.34844

In [53]:
indiaData = wbData[wbData['Country Name'].str.contains('India', na=False)]
indiaData.head()
indiaData = indiaData.transpose()
indcol = indiaData.iloc[0]
indiaData.columns = indcol
indiaData = indiaData.rename_axis("Year", axis="columns")
indiaData = indiaData.loc['2000 [YR2000]':]
indiaData.head()

Year,GDP (current US$),GNI (current US$),"Unemployment, total (% of total labor force) (national estimate)","Inflation, consumer prices (annual %)"
2000 [YR2000],468394948471.616,463418971411.06,2.73060011863709,4.00943591045191
2001 [YR2001],485441026156.549,481233333719.828,..,3.77929312235636
2002 [YR2002],514937961192.908,511490048636.432,..,4.29715203929568
2003 [YR2003],607699299977.15,603192907506.664,..,3.80585899528853
2004 [YR2004],709148531774.823,704168762435.513,..,3.76725173477511

Screw world bank data.

Sample data from NOAA GFS dataset for each season for the past 10 years.